services:
  caddy:
    image: caddy:2-alpine # Using the lightweight alpine image
    restart: no
    #restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Mount the local Caddyfile into the container
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./CaddyFileGeneral:/etc/caddy/CaddyFileGeneral
      # Persist Caddy's data (certs, etc.) and config directories
      - ./caddy_data:/data
      - ./caddy_config:/config
      - ./var/www:/var/www
    networks:
      private_network:
        ipv4_address: ${CADDY_IPV4_ADDRESS}
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 500M
        reservations:
          cpus: "0.5"
          memory: 200M
      
  unbound:
    image: mvance/unbound:latest
    container_name: unbound
    restart: unless-stopped
    hostname: unbound
    volumes:
      - ./unbound:/opt/unbound/etc/unbound/
      - ./ublogging:/dev/ublogging/
    networks:
      private_network:
        ipv4_address: ${UNBOUND_IPV4_ADDRESS}
    cap_add:
      - NET_ADMIN
    env_file: .env
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 500M
        reservations:
          cpus: "0.5"
          memory: 200M
    
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    ports:
      - 51820:51820/udp
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    volumes:
      - ./wg_config:/config:v
    env_file: .env
    networks:
      private_network:
        ipv4_address: ${WG_IPV4_ADDRESS}
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1000M
        reservations:
          cpus: "0.5"
          memory: 200M

  wireguard-ui:
    image: ngoduykhanh/wireguard-ui:latest
    entrypoint: ./wg-ui --disable-login
    container_name: wireguard-ui
    depends_on:
      - wireguard
    cap_add:
      - NET_ADMIN
    network_mode: service:wireguard
    logging:
      driver: json-file
      options:
        max-size: 50m
    volumes:
      - ./db:/app/db
      - ./wg_config:/config:v
    env_file: .env
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 200M
        reservations:
          cpus: "0.5"
          memory: 200M

  pihole:
    depends_on:
      - unbound
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: pihole
    dns:
      - ${UNBOUND_IPV4_ADDRESS}
    volumes:
      - ./etc-pihole/:/etc/pihole/
      - ./pihole.toml:/etc/pihole/pihole.toml:ro
    cap_add:
      - NET_ADMIN
    env_file: ./.env
    networks:
      private_network:
        ipv4_address: ${PIHOLE_IPV4_ADDRESS}
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 200M
        reservations:
          cpus: "0.5"
          memory: 200M
    
networks:
  private_network:
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_MASK}
          gateway: ${GATEWAY_IPV4_ADDRESS}